@font-face {
  font-family: 'jua';
  src: url('./fonts/GowunDodum-Regular.ttf');
}
.App {
  font-family: 'jua';
}

h1 {
  font-size: 120px;
  background: linear-gradient(to right top, #01f822, #08611b);
  color: transparent;
  -webkit-background-clip: text;
  
}